body{
    background-color: black;
}

#canvas1{
    border: 3px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 640px;
    height: 920px;
    transform: translate(-50%,-50%);
    

}